<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>电商推荐系统</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</head>
<style>
    .text {
        display: block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
</style>
<body>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1"><span
                            class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span
                            class="icon-bar"></span><span class="icon-bar"></span></button>
                    <a class="navbar-brand" th:href="@{/main}">电商推荐系统</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a class="glyphicon glyphicon-user" style="vertical-align: bottom">&nbsp;<span style="font-size: 18px" th:text="${user.username}"></span></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>

    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        实时推荐
                    </h3>
                </div>
                <div class="panel-body" style="text-align: center; width: 100%; height: auto" th:id="online">
                    <div th:fragment="online">
                        <tr th:each="product : ${onlineProducts}">
                            <a th:href="@{'/product/page?productId=' + ${product.productId}}" style="width: 24%; height: 250px; float: left; margin: 20px 5px 10px 5px;">
                                <img th:src="${product.imageUrl}" style="width: 200px; height: 200px; margin: 0 0 0 0; object-fit: cover">
                                <span class="text" style="padding-top: 10px;" th:text="${product.name}"></span>
                            </a>
                        </tr>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        离线推荐
                    </h3>
                </div>
                <div class="panel-body" style="text-align: center; width: 100%; height: auto" th:id="offline">
                    <div th:fragment="offline">
                        <tr th:each="product : ${offlineProducts}">
                            <a th:href="@{'/product/page?productId=' + ${product.productId}}" style="width: 24%; height: 250px; float: left; margin: 20px 5px 10px 5px;">
                                <img th:src="${product.imageUrl}" style="width: 200px; height: 200px; margin: 0 0 0 0; object-fit: cover">
                                <span class="text" style="padding-top: 10px;" th:text="${product.name}"></span>
                            </a>
                        </tr>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        热门推荐
                    </h3>
                </div>
                <div class="panel-body" style="text-align: center; width: 100%; height: auto" th:id="hot">
                    <div th:fragment="hot">
                        <tr th:each="product : ${hotProducts}">
                            <a th:href="@{'/product/page?productId=' + ${product.productId}}" style="width: 24%; height: 250px; float: left; margin: 20px 5px 10px 5px;">
                                <img th:src="${product.imageUrl}" style="width: 200px; height: 200px; margin: 0 0 0 0; object-fit: contain">
                                <span class="text" style="padding-top: 10px;" th:text="${product.name}"></span>
                            </a>
                        </tr>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        评分最多
                    </h3>
                </div>
                <div class="panel-body" style="text-align: center; width: 100%; height: auto" th:id="statistics">
                    <div th:fragment="statistics">
                        <tr th:each="product : ${_rateMoreProducts}">
                            <a th:href="@{'/product/page?productId=' + ${product.productId}}" style="width: 24%; height: 250px; float: left; margin: 20px 5px 10px 5px;">
                                <img th:src="${product.imageUrl}" style="width: 200px; height: 200px; margin: 0 0 0 0; object-fit: contain">
                                <span class="text" style="padding-top: 10px;" th:text="${product.name}"></span>
                            </a>
                        </tr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script th:inline="javascript" type="text/javascript">
    $(document).ready(function () {
        hotRecommender();
        statisticsRecommender();
        offlineRecommender();
    });

    function hotRecommender() {
        $.ajax({
            type: 'POST',
            url: "/recommender/hot",
            dataType: "text",
            data: {
                num: 8
            },
            success: function (data) {
                $('#hot').html(data)
            },
        })
    }

    function statisticsRecommender() {
        $.ajax({
            type: 'POST',
            url: "/recommender/statistics",
            dataType: "text",
            data: {
                num: 8
            },
            success: function (data) {
                $('#statistics').html(data)
            },
        })
    }

    function offlineRecommender() {
        $.ajax({
            type: 'POST',
            url: "/recommender/offline",
            dataType: "text",
            data: {
                userId: [[${user.userId}]]
            },
            success: function (data) {
                $('#offline').html(data)
            },
        })
    }

</script>
</html>