<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.ahtcm.mall.dao.ProductMapper">

    <select id="getProducts" parameterType="List" resultType="Product">
        SELECT * FROM product WHERE productId in
        <foreach collection="ids" item="productId"
                 index="index" open="(" close=")" separator=",">
            #{productId}
        </foreach>
    </select>

    <select id="getProductById" parameterType="int" resultType="Product">
        SELECT * FROM product WHERE productId = #{productId}
    </select>

</mapper>