<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.ahtcm.mall.dao.RecsMapper">

    <select id="getUserRecs" parameterType="Integer" resultType="UserRecs">
        SELECT userId, recsProductId, score FROM user_recs WHERE userId = #{userId} ORDER BY score DESC limit 8
    </select>

    <select id="getStreamRecs" parameterType="Integer" resultType="StreamRecs">
        SELECT userId, productId, score FROM stream_recs WHERE userId = #{userId} ORDER BY score DESC limit 8
    </select>

    <select id="getItemCFRecs" parameterType="Integer" resultType="ItemCF">
        SELECT productId, recsProductId, score FROM itemcf_product_recs WHERE productId = #{productId} ORDER BY score DESC limit 8
    </select>

    <select id="getProductRecs" parameterType="Integer" resultType="ProductRecs">
        SELECT productId, recsProductId, score FROM product_recs WHERE productId = #{productId} ORDER BY score DESC limit 8
    </select>

</mapper>